.mentorBtn {
  padding: 0.8em 2em;
  color: #0a033c;
  background: #ffffff;
  border-radius: 10px;
}
.mentorBtnActive {
  background: #ff6652;
  box-shadow: 0px 15px 50px rgba(255, 102, 82, 0.2);
  color: white;
}
.mentorCardBtn:hover {
  background-color: #9c4de4 !important;
  color: white !important;
}
.mentorBtn:hover {
  background: #ff6652;
  box-shadow: 0px 15px 50px rgba(255, 102, 82, 0.2);
  color: white;
}
.classDetailBtn:hover {
  background-color: #703edb;
  color: white !important;
}
